*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', sans-serif;
    letter-spacing: .4px;

}

.page-wrapper{
    display: flex;
    max-width: 1500px;
    justify-content: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 50px;
}

.id-pic{
    width: 300px;
    height: 300px;
}


.side2{
    width: 40%;
}

.wrapper{
    margin-bottom: 15px;
}

h1{
    margin-bottom: 10px;
    font-size: 21;
}

h2{
    font-size: 15;
}

li{
    list-style: none;
}

p{
    line-height: 1.35em;
    font-size: 13px;
}